{%if job_title%}
<h2 style = 'color:green'> Suceesfully added job: {{job_title}}</h2>
{%endif%}
<form action="/addscrapedjobs" method="post">
     <label for="your_name">Job Email: </label>
    <input id="email" type="text" name="email" value="" ><br/><br/>
    <label for="your_name">Job Title: </label>
    <input id="title" type="text" name="title" value="" ><br/><br/>
     <label for="your_name">Job URL: </label>
    <input id="title" type="text" name="url" value="" ><br/><br/>
    <label for="your_name">Job Wage: </label>
    <input id="wage" type="text" name="wage" value="" ><br/><br/>
    <label for="your_name">Job Description: </label>
    <textarea id="description" type="text" name="description" value="" ></textarea><br/><br/>
    <label for="your_name">Job Type: </label>
    
    <select name = "job_type">
    	{% for item in jobtypes %}
                      <option value = "{{item.id}}">{{item.name}}</option>
                        {% endfor %}
    </select>	<br/><br/>
    <label for="your_name">Job city: </label>
    <select name = "city">
        {% for item in jobcities %}
                      <option value = "{{item}}" {%if item == city %}selected{%endif%}>{{item}}</option>
                        {% endfor %}
    </select>   <br/><br/>
    <label for="your_name">Site: </label>
    <select name = "scraper_site">
        {% for item in scrapersites %}
                      <option value = "{{item}}" {%if item == scraped_from %}selected{%endif%}>{{item}}</option>
                        {% endfor %}
    </select>  <br/><br/>


    <input type="submit" value="OK">
</form>
<h1 style = "color:red">
{{errormessage}}
</h1>