<form action="/addscrapedjobsspreadsheet" method="post" enctype="multipart/form-data">
    <label for="your_name">Enter CSV FILE: </label>
    <input id="csvform" type="file" name="csvform">
    <input type="submit" value="OK">
</form>
{% if errormessage %}
<h2 style="color:red"> {{errormessage}}</h2>
{%endif%}