<form action="/login" method="post" enctype="multipart/form-data">
    <label for="your_name">Username: </label>
    <input id="csvform" type="text" name="username"><br/>
    <label for="your_name">Password: </label>
    <input id="csvform" type="text" name="password"><br/>
    <input type="submit" value="Login">
</form>
{% if errormessage %}
<h2 style="color:red"> {{errormessage}}</h2>
{%endif%}